extends common/layout

block layout-content
  .container-fluid
    //- Main header for the portfolio page
    h1.page-title.text-center.my-5 Portfolio Admin Dashboard 

    //- Section for Project Collection
    .row
      .col-md-12.text-center
        h2 Project Collection
        a.btn.btn-primary.mt-3.btn-margin(href="/projects/add") ➕ Add Project

    .row
      each project in projects
        .col-md-4.mb-4
          .card
            .card-body
              h3.card-title #{project.name}
              p.card-text Description: #{project.description}
              if project.date
                p.card-text Date: #{project.date}
              if project.technologies && project.technologies.length
                p.card-text Technologies: #{project.technologies.join(', ')}
              if project.website
                p.card-text
                  | Website: 
                  a(href=project.website target="_blank") #{project.website}

              //- Display media if it exists
              if project.media
                if project.media.endsWith('.mp4') || project.media.endsWith('.webm') || project.media.endsWith('.ogg')
                  video(controls width="100%")
                    source(src=project.media type="video/mp4")
                    | Your browser does not support the video tag.
                else
                  img(src=project.media alt=`${project.name} media` class="img-fluid mb-2")
                
            .card-footer
              a.btn.btn-secondary(href="#") View Details
              a.btn.btn-warning.mx-1(href=`/projects/edit/${project._id}`) Edit
              form(action=`/projects/${project._id}?_method=DELETE` method="POST" style="display:inline-block;")
                button(type="submit" class="btn btn-danger") Delete Project

    //- Section for Skillset
    .row.mt-5
      .col-md-12.text-center
        h2 Skillset
        a.btn.btn-primary.mt-3.btn-margin(href="/skills/add") ➕ Add Skill

    .row
      each skill in skills
        .col-md-4.mb-4
          .card
            .card-body
              h3.card-title #{skill.name}
              p.card-text Level: #{skill.level}
            .card-footer
              a.btn.btn-secondary(href="#") View Details
              // Delete button for skills
              form(action="/skills/delete", method="POST" style="display:inline-block;")
                input(type="hidden", name="name", value=skill.name)
                button(type="submit", class="btn btn-danger") Delete Skill
